*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header{
  width: 100%;
  font-family: 'poppins', sans-serif;
  position: absolute;
}

nav{
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  margin-left: 1rem;
}
.logo h1{
  /* text-transform: uppercase; */
  font-size: 30px;
  color: rgb(32, 31, 31);
}

.ul-items{
  display: flex;
  align-items: center;
  list-style: none;
}

.ul-items li{
  margin-right: 3.5rem;
}

.ul-items li a{
  color: rgb(32, 31, 31);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.ul-items li a:hover{
  border-bottom: 3px solid rgb(32, 31, 31);
}

.main-section{
  width: 100%;
  height: 100vh;
  background-color: rgb(188, 217, 240);
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
  overflow: hidden;
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texts{
  margin-left: 10rem;
  /* text-transform: uppercase; */
}

.texts h1{
  color: rgb(114, 115, 106);
  font-size: 35px;
}

.texts .anthony{
  font-size: 60px;
  color: rgb(45, 44, 44);
  text-transform: uppercase;
}

.texts p{
  border-top: 2px solid grey;
  text-transform: lowercase;
  color: grey;
  width: 70%;
}

.texts button{
  margin-top: 2.4rem;
  padding: 14px 35px;
  cursor: pointer;
  background-color: rgb(32, 31, 31);
  border-radius: 10px;
  border: none;
  color: #fff;
}

.image{
  clip-path: polygon(100% 0%, 100% 55%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); 
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
  /* clip-path: ellipse(50% 50% at 51% 51%); */
  /* clip-path: circle(32.2% at 51% 33%); */
  background-color: rgb(24, 60, 72);
}

.image img{
  margin-top: 5rem;
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.section2{
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  font-family: 'poppins', sans-serif;
  background-color: rgb(95, 207, 232);
}

.about-me{
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.container-2{
  display: flex;
  align-items: center;
  padding: 70px;
  justify-content: space-between;
  margin-top: 70px;
}

.image-container img{
  width: 620px;
  /* border: 2px solid #fff; */
}

.text-2{
  font-size: 22px;
  line-height: 50px;
  border: 1px solid black;
  padding: 35px;
}

.text-2 p{
  border-bottom: 2px solid black;
}

.section3{
  width: 100%;
  height: 60vh;
  border: 1px solid black;
  font-family: 'poppins', sans-serif;
  background-color: rgb(240, 248, 150);
}

.freestyle{
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 30px;
}

.container-3{
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
  margin-top: 40px;
}

.image-container2 img{
  width: 440px;
  /* border: 2px solid #fff; */
}

.image-container3 img{
  width: 440px;
  /* border: 2px solid #fff; */
}

.image-container4 img{
  width: 440px;
  /* border: 2px solid #fff; */
}

.section4{
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  font-family: 'poppins', sans-serif;
  background-color: rgb(121, 154, 162);
}

.contact{
  margin-left: 850px;
  margin-top: 30px;
}

.let{
  font-size: 70px;
}

.discuss{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.password{
  height: 60px;
  width: 400px;
  border-radius: 10px;
  border-bottom: 2px solid black;
  margin-top: 30px;
  padding-left: 15px;
  font-size: 20px;
  
}
.register{
  line-height: 30px;
  margin-top: 100px;
}

input.message{
  height: 150px;
  width: 400px;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 20px;
  padding-bottom: 100px;
  padding-left: 15px;
  font-weight: bold;
}

button.submit-button{
  height: 50px;
  width: 100px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: rgb(33, 236, 33);
  font-weight: bold;
  font-size: 15px;
}

.story{
 font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
  .section3{
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(23, 23, 18);
  }
}