*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @media (max-width: 734px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    }

    @media (max-width: 415px) {
      *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
      }


      .secondnav{
        display: flex;
      }

     @media only screen and (min-width: 450px) {
      .secondnav{
        display: none;
      }
     }

      .menu-bar{
        margin-left: 150px;
        margin-top: 13px;
      }
    

  .Header{
    width: 100%;
    font-family: 'poppins', sans-serif;
    position: absolute;
  }

  @media (max-width: 734px) {
  .Header{
    width: 20%;
    font-family: 'poppins', sans-serif;
    position: absolute;
  }
}
  
@media (max-width: 415px) {
  .Header{
    width: 10%;
    font-family: 'poppins', sans-serif;
    position: absolute;
  }
}
  nav{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @media (max-width: 734px) {
  nav{
    height: 2em;
    justify-content: space-between;
  }
}

@media (max-width: 415px) {
  nav{
    display: none;
  }
}
  
  .logo{
    margin-left: 1rem;
  }

  @media (max-width: 734px) {
  .logo{
    margin-left: 3rem;
    display: flex; 
  }
}

@media (max-width: 415px) {
  .logo{
    margin-left: 3rem;
    display: flex; 
    margin-top: 15px;
  }
}

  .logo h1{
    /* text-transform: uppercase; */
    font-size: 30px;
    color: rgb(32, 31, 31);
  }

  @media (max-width: 734px) {
    .logo h1{
      /* text-transform: uppercase; */
      font-size: 20px;
      color: rgb(32, 31, 31);
      margin-left: -20px;
    }
  }

  @media (max-width: 415px) {
    .logo h1{
      /* text-transform: uppercase; */
      font-size: 15px;
      color: rgb(32, 31, 31);
      margin-left: -20px;
    }
  }
  
  .ul-items{
    display: flex;
    align-items: center;
    list-style: none;
  }

  @media (max-width: 734px) {
  .ul-items{
    padding-left: 10px;
    margin: auto;
    margin-left: 50px;
  }
}

@media (max-width: 415px) {
  .ul-items{
    display: none;
  }
}
  
  .ul-items li{
    margin-right: 3.5rem;
  }

  @media (max-width: 734px) {
  .ul-items li{
    margin-right: 3rem;
  }
}
  
  .ul-items li a{
    color: rgb(32, 31, 31);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media (max-width: 734px) {
  .ul-items li a{
    font-size: 15px;
    margin-right: -30px;
  }
}
  
  .ul-items li a:hover{
    border-bottom: 3px solid rgb(32, 31, 31);
  }

  
  .main-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(188, 217, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    overflow: hidden;
  }

  @media (max-width: 734px) {
  .main-section{
    width: 700px;
    height: 600px;
    background-color: rgb(246, 247, 246);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    overflow: hidden;
  }
}

@media (max-width: 415px) {
  .main-section{
    width: 400px;
    /* height: 600px; */
    background-color: rgb(246, 247, 246);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    overflow: hidden;
    height: 560px;
  }
}
  
  .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .texts{
    margin-left: 10rem;
  }

  @media (max-width: 734px) {
  .texts{
    margin-left: 3rem;
    margin-bottom: 130px;
  }
}

@media (max-width: 415px) {
  .texts{
    margin-left: 2rem;
    /* margin-bottom: 0px; */
    margin-top: -200px;
  }
}
  
  .texts h1{
    color: rgb(114, 115, 106);
    font-size: 40px;

  }

  @media (max-width: 734px) {
  .texts h1{
    color: rgb(114, 115, 106);
    font-size: 30px;
  }
}

@media (max-width: 415px) {
  .texts h1{
    color: rgb(114, 115, 106);
    font-size: 30px;
    margin-left: 75px;
    margin-top: -180px;
  }
}
  
  .texts .anthony{
    font-size: 60px;
    color: rgb(45, 44, 44);
    text-transform: uppercase;
  }

  @media (max-width: 734px) {
  .texts .anthony{
    font-size: 45px;
    color: rgb(29, 29, 170);
    text-transform: uppercase;
  }
}

@media (max-width: 415px) {
  .texts .anthony{
    font-size: 23px;
    color: rgb(29, 29, 170);
    text-transform: uppercase;
    margin-left: -10px;
    margin-top: -0px;
  }
}
  
  .texts p{
    border-top: 2px solid grey;
    text-transform: lowercase;
    color: grey;
    width: 70%;
  }

  @media (max-width: 734px) {
  .texts p{
    border-top: 2px solid rgb(18, 18, 18);
    text-transform: lowercase;
    color: rgb(8, 8, 8);
    width: 70%;
  }
}

@media (max-width: 415px) {
  .texts p{
    border-top: 2px solid rgb(18, 18, 18);
    text-transform: lowercase;
    color: rgb(8, 8, 8);
    width: 80%;
    margin-left: 2px;
  }
}
  
  .texts button{
    margin-top: 2.4rem;
    padding: 14px 35px;
    cursor: pointer;
    background-color: rgb(32, 31, 31);
    border-radius: 10px;
    border: none;
    color: #fff;
  }

  @media (max-width: 734px) {
  .texts button{
    margin-top: 2.8rem;
    background-color: rgb(28, 9, 151);
    border-radius: 18px;
  }
}

@media (max-width: 415px) {
  .texts button{
    margin-top: 2.8rem;
    background-color: rgb(28, 9, 151);
    border-radius: 18px;
    margin-left: 50px;
    margin-top: 15px;
  }
}
  
  /* .image{ */
    /* clip-path: polygon(100% 0%, 100% 55%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);  */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    /* clip-path: ellipse(50% 50% at 51% 51%); */
    /* clip-path: circle(32.2% at 51% 33%); */
    /* background-color: rgb(24, 60, 72); */
  /* } */

  @media (max-width: 734px) {
  .image{
    /* background-color: rgb(11, 5, 75); */
  }
}

@media (max-width: 415px) {
  .image{
    display: none;
  }
}
  
  .image img{
    margin-top: 5rem;
    height: 500px;
    width: 500px;
    object-fit: contain;
  }

  @media (max-width: 734px) {
  .image img{
    margin-top: 4rem;
  }
}

@media (max-width: 415px) {
  .image img{
    display: none;
  }
}

.image2{
  width: 150px;
  height: 200px;
  margin-left: -50px;
}
@media only screen and (min-width: 450px) {
  .image2{
    display: none;
  }
 }

.image2 img{
  margin-left: -300px;
  margin-top: -80px;
}
@media only screen and (min-width: 450px) {
  .image2 img{
    display: none;
  }
 }
  
  .section2{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(95, 207, 232);
  }

  @media (max-width: 734px) {
  .section2{
    width: 700px;
    height: 440px;
  }
}


@media (max-width: 415px) {
  .section2{
    width: 400px;
    height: 560px;
  }
}
  
  
  .about-me{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  @media (max-width: 734px) {
  .about-me{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 2.1rem;
    font-size: 18px;
  }
}

@media (max-width: 415px) {
  .about-me{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 12px;
    margin-left: -120px;
  }
}
  
  .container-2{
    display: flex;
    align-items: center;
    padding: 70px;
    justify-content: space-between;
    margin-top: 70px;
  }

  @media (max-width: 734px) {
  .container-2{
    display: flex;
    align-items: center;
    padding: 70px;
    justify-content: space-between;
    margin-top: 0px;
  }
}

  @media (max-width: 734px) {
  .container-2{
    display: flex;
    align-items: center;
    padding: 70px;
    justify-content: space-between;
    margin-top: 0px;
  }
}

@media (max-width: 415px) {
  .container-2{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 0px;
    flex-direction: column;
  }
}
  
  .image-container img{
    width: 620px;
    /* border: 2px solid #fff; */
  }

  @media (max-width: 734px) {
  .image-container img{
    width: 270px;
    margin-bottom: 300px;
    margin-left: -40px;
  }
}

@media (max-width: 415px) {
  .image-container img{
    width: 240px;
    margin-bottom: 330px;
    margin-left: -100px;
  }
}
  
  .text-2{
    font-size: 22px;
    line-height: 50px;
    border: 1px solid black;
    padding: 35px;
  }

  @media (max-width: 734px) {
  .text-2{
    font-size: 16px;
    line-height: 20px;
    border: 1px solid black;
    padding: 15px;
    width: 230px;
    margin-bottom: 280px;
    height: 180px;
  }
}

@media (max-width: 415px) {
  .text-2{
    font-size: 16px;
    line-height: 20px;
    border: 1px solid black;
    padding: 15px;
    width: 230px;
    margin-bottom: 280px;
    height: 180px;
  }
}
  
  .text-2 p{
    border-bottom: 2px solid black;
  }

  @media (max-width: 734px) {
  .text-2 p{
    border-bottom: 2px solid black;
  }
}

@media (max-width: 734px) {
.main-text-2{
  margin-left: 70px;
  }
}


@media (max-width: 415px) {
  .main-text-2{
    margin-left: -100px;
    margin-top: -270px;
    }
  }
  
  .section3{
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(240, 248, 150);
  }

  @media (max-width: 734px) {
  .section3{
    width: 700px;
    height: 380px;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(240, 248, 150);
  }
}

@media (max-width: 415px) {
  .section3{
    width: 400px;
    height: 560px;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(240, 248, 150);
  }
}
  
  .freestyle{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 30px;
  }

  @media (max-width: 734px) {
  .freestyle{
    margin-top: 1.5rem;
    font-size: 18px;
  }
}

@media (max-width: 415px) {
  .freestyle{
    margin-top: 1.5rem;
    font-size: 13px;
    margin-left: -100px;
  }
}
  
  .container-3{
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    margin-top: 40px;
  }

  @media (max-width: 734px) {
  .container-3{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    margin-top: 40px;
  }
}

@media (max-width: 415px) {
  .container-3{
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 10px;
    flex-direction: column;
    line-height: 50px;
    margin-left: -100px;
  }
}
  .image-container2 img{
    width: 440px;
    /* border: 2px solid #fff; */
  }

  @media (max-width: 734px) {
  .image-container2 img{
    width: 200px;
  }
}
  
  .image-container3 img{
    width: 440px;
    /* border: 2px solid #fff; */
  }

  @media (max-width: 734px) {
  .image-container3 img{
    width: 200px;
    /* border: 2px solid #fff; */
  }
}
  
  .image-container4 img{
    width: 440px;
    /* border: 2px solid #fff; */
  }

  @media (max-width: 734px) {
  .image-container4 img{
    width: 200px;
  }
}
  
  .section4{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(121, 154, 162);
  }
  @media (max-width: 734px) {
  .section4{
    width: 700px;
    height: 650px;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(121, 154, 162);
  }
}

@media (max-width: 415px) {
  .section4{
    width: 400px;
    height: 640px;
    border: 1px solid black;
    font-family: 'poppins', sans-serif;
    background-color: rgb(121, 154, 162);
  }
}
  
  
  .contact{
    margin-left: 850px;
    margin-top: 30px;
  }

  @media (max-width: 734px) {
  .contact{
    margin-left: 300px;
  }
}

@media (max-width: 415px) {
  .contact{
    margin-left: 110px;
    font-size: 15px;
  }
}
  
  .let{
    font-size: 70px;
  }

  @media (max-width: 734px) {
  .let{
    font-size: 40px;
  }
}

@media (max-width: 415px) {
  .let{
    font-size: 25px;
    margin-top: 40px;
    color: rgb(47, 5, 109);
    font-weight: bold;
  }
}
  
  .discuss{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @media (max-width: 734px) {
  .discuss{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 415px) {
  .discuss{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -100px;
  }
}
  
  .password{
    height: 60px;
    width: 400px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    margin-top: 30px;
    padding-left: 15px;
    font-size: 20px; 
  }

  @media (max-width: 734px) {
  .password{
    height: 35px;
    width: 300px;
    margin-top: 30px;
    padding-left: 15px;
    font-size: 15px;
    }
  }

  @media (max-width: 415px) {
    .password{
      height: 25px;
      width: 230px;
      margin-top: 20px;
      padding-left: 15px;
      font-size: 13px;
      border: 1px solid rgb(125, 125, 126);
      }
    }

  .register{
    line-height: 30px;
    margin-top: 100px;
  }

  @media (max-width: 734px) {
  .register{
    margin-top: 80px;
  }
}

@media (max-width: 415px) {
  .register{
    margin-top: 50px;
  }
}
  
  input.message{
    height: 150px;
    width: 400px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding-bottom: 100px;
    padding-left: 15px;
    font-weight: bold;
  }

  @media (max-width: 734px) {
  input.message{
    height: 120px;
    width: 300px;
    padding-bottom: 80px;
  }
}

  @media (max-width: 734px) {
  input.message{
    height: 120px;
    width: 300px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding-bottom: 80px;
    padding-left: -55px;
    font-weight: 600;
  }
}

@media (max-width: 415px) {
  input.message{
    height: 120px;
    width: 230px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding-bottom: 80px;
    padding-left: 15px;
    font-weight: 600;
  }
}
  
  button.submit-button{
    height: 50px;
    width: 100px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(33, 236, 33);
    font-weight: bold;
    font-size: 15px;
  }

  @media (max-width: 734px) {
  button.submit-button{
    height: 40px;
    width: 90px;
  }
}

@media (max-width: 415px) {
  button.submit-button{
    height: 35px;
    width: 75px;
  }
}
  
  .story{
   font-weight: bold;
  }

  @media (max-width: 734px) {
  .story{
    font-weight: bold;
    font-size: 20px;
   }
  }

  @media (max-width: 415px) {
    .story{
      font-weight: bold;
      font-size: 16.5px;
     }
    }